#miniaturasBox {
	margin-left: -10px;
	width: 610px;
	margin-bottom: 20px;
}

.miniatura {
	border-color: #3399FF;
	width: 100px;
	height: 100px;
	background-color: #CCCCFF;
	border-width: 5px;
	border-style: solid;
	margin-bottom: 10px;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}

.produto {
	width: 76px;
	margin-left: 12px;
	cursor: pointer;
}

#adicionarListaDeDesejos {
	width: 40px;
}

.manterProduto {
	color: #FF3399;
	text-decoration: none;
	margin-left: 10px;
	font-size: 15px;
	cursor: pointer;
}

a#manterProduto:visited {
	color: #FF3399;
	text-decoration: none;
}

.imagemDetalhe {
	width: 600px;
}

#formRemoverProduto {
	min-width: 100px;
	display: inline;
}

.conteudoDetalhesDoProduto {
	min-height: 850px;
}