body {
	background-color: #FFFFE0;
	font-family: "calibri", Garamond, 'Comic Sans';
	width: 90%;
	height: 100%;
}

.header {
	margin: 20px 100px 20px 100px;
}

#logotipo {
	height: 100px;
	width: 150px;
}

#listaDeDesejos {
	height: 100px;
	width: 100px;
	float: right;
}

#redeSocial {
	margin-right: 10px;
	margin-top: 60px;
	height: 40px;
	width: 40px;
	float: right;
}

.menuLateral {
	margin: 20px 100px 10px 100px;
	width: 150px;
	float: left;
}

.menuSubtituloLink {
	padding: 2px 5px 2px 5px;
	display: block;
	background-color: #F0F0F0;
	text-decoration: none;
	text-align: center;
	border-color: #D0D0D0;
	border-style: groove;
	color: #FF3399;
}

.menuLink {
	padding: 2px 5px 2px 5px;
	display: block;
	background-color: #F0F0F0;
	text-decoration: none;
	text-align: center;
	border-color: #D0D0D0;
	border-style: groove;
	font-size: 0.9em;
	color: #FF3399;
}

.itensMenu {
	margin-left: 10px;
}

a.menuLink:hover, a.menuSubtituloLink:hover {
	color: #F0F0F0;
	background-color: #FF3399;
}

footer {
	background-color: #FFFFCC;
	margin: -35px 100px 10px 100px;
	border: 0.5px;
	border-color: #FFFF99;
	text-align: center;
	position: relative;
	height: 35px;
	clear:both
}

.footerLink {
	padding: 10px 0 10px 50px;
	font-size: 1em;
	color: #0099FF;
	display: block;
	float: left;
	text-decoration: none;
}

.itensFooter {
	margin-left: 200px;
}
