body {
	font-family: "calibri", Garamond, 'Comic Sans';
	width: 90%;
	height: 100%;
}

h1 {
	color: #3399FF;
	size: 20px;
}

h2 {
	color: #3399FF;
}

p {
	width: 1115px;
	color: #3399FF;
}

form {
	color: #3399FF;
	min-width: 1300px;
}

.header {
	margin: 20px 100px 20px 100px;
	min-width: 1050px;
}

#logotipo {
	height: 100px;
	width: 150px;
	float: left;
}

#listaDeDesejos {
	height: 100px;
	width: 100px;
	margin-left: 60px;
}

#redeSocial {
	height: 40px;
	width: 40px;
	float: left;
}

.menuLateral {
	margin: 0px 100px 10px 100px;
	width: 150px;
	float: left;
}

.menuSubtituloLink {
	padding: 16px 5px 17px 5px;
	display: block;
	background-image: url("../img/botao.png");
	text-decoration: none;
	text-align: center;
	color: #FF55AA;
	font-size: 1.1em;
}

.menuLink {
	padding: 13px 15px 13px 5px;
	display: block;
	text-decoration: none;
	text-align: center;
	background-image: url("../img/botaoMenor.png");
	background-repeat: no-repeat;
	font-size: 0.9em;
	color: #FF3399;
}

.itensMenu {
	margin-left: 15px;
}

a.menuLink:hover, a.menuSubtituloLink:hover {
	color: #c7a51f;
}

.headerLink {
	padding: 30px 50px 30px 50px;
	display: block;
	float: left;
	background-repeat: no-repeat;
}

.headerLinkAdministracao {
	background-image: url("../img/botaoAdministracao.png");
}

.headerLinkFaleConosco {
	background-image: url("../img/botaoFaleConosco.png");
}

.headerLinkInstitucional {
	background-image: url("../img/botaoInstitucional.png");
}

.headerLinkLocalizacao {
	background-image: url("../img/botaoLocalizacao.png");
}

.headerLinkOrcamento {
	background-image: url("../img/botaoOrcamento.png");
}

.itensHeader {
	margin-left: 285px;
}

.logout {
	font-size: 1em;
	color: #FF3399;
	text-decoration: none;
}

.error {
	color: #ff0000;
}

.errorblock {
	color: #000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
	margin: 16px;
}

.feedback {
	margin-top: 10px;
	width: 400px;
	background-color: #FF77CC;
	color: #FFFFCC;
}

#conteudo {
	width: 400px;
	height: 300px;
	margin-left: 350px;
	min-height: 500px;
	min-width: 1000px;
	font-family: "calibri", Garamond, 'Comic Sans';
}