#conteudo {
	float: right;
	border-color: #3399FF;
	margin-right: 330px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 30em;
	height: 25em;
	background-color: #CCCCFF;
	border-width: 5px;
	border-style: solid;
}

#setaFrente{
	margin-top: 11em;
	margin-right: 1em;
	float: right;
}

#setaTras{
	padding-top: 11em;
	margin-left: 1em;
	float: left;
}

#destaqueHome {
	width: 17em;
	margin-top: 1.1em;
	margin-left: 2.5em;
}