#conteudo {
	color: #3399FF;
}

#miniatura {
	width: 100px;
	float: left;
}

#descricaoReduzida {
	margin-left: 20px;
}

#descricaoDetalhada {
	margin-left: 20px;
}

#quantidade {
	margin-left: 50px;
}

#cabecalho {
	margin-bottom: 20px;
}

#cabecalhoQuantidade {
	margin-left: 400px;
}
