#conteudo {
	color: #3399FF;
}

#cabecalho {
	margin-bottom: 20px;
}

#cabecalhoQuantidade {
	margin-left: 400px;
}

.item {
	margin-bottom: 120px;	
}

#miniatura {
	width: 100px;
	float: left;
}

#descricaoReduzida {
	margin-left: 20px;
}

#descricaoDetalhada {
	margin-left: 20px;
}

#quantidade {
	margin-left: 20px;
}

#removerItem {
	margin-left: 30px;
}

a.link:visited {
	color: #3399FF;
}

a {
	text-decoration: none;
}
