.manterUsuario {
	color: #FF3399;
	text-decoration: none;
	margin-left: 10px;
	font-size: 15px;
	cursor: pointer;
}

a#manterUsuario:visited {
	color: #FF3399;
	text-decoration: none;
}

#formRemoverUsuario {
	min-width: 100px;
	display: inline;
}

#conteudo {
	color: #3399FF;
}

th {

}