#conteudoListaDeDesejos {
	color: #3399FF;
	min-width: 800px;
}

#solicitarOrcamento {
	margin-bottom: 20px;
}

#cabecalho {
	margin-bottom: 20px;
}

#cabecalhoQuantidade {
	margin-left: 400px;
}

.item {
	margin-bottom: 120px;
}

#miniatura {
	width: 100px;
	float: left;
}

a.link {
	color: #3399FF;
}

a.link:visited {
	color: #3399FF;
}

a {
	text-decoration: none;
	cursor: pointer;
}

td.descricaoProduto {
	min-width: 200px;
}

input.inputQuantidade {
	max-width: 20px;
}

.margemEsquerda20 {
	width: 200px;
	margin-left: 20px;
}

.formAtualizarQuantidade {
	min-width: 100px;
}
